/* BLOG */
.blog__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 768px) {
  .blog__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .blog__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* POST */
.post__content {
  padding: 2rem;
}
.post__title {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  height: 7rem;
}
.post__meta {
  font-size: 1.6rem;
  color: var(--primary);
}
.post__extract {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.6rem;
}
.post__link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  padding: 1rem 5rem;
  color: var(--black);
  border: 2px solid var(--primary);
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  transition: color .6s;
}
@media (hover: hover) {
  .post__link {
    transition: color .5s;
  }
  .post__link:hover {
    color: var(--white);
  }
}
.post__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary);
  z-index: -1;
}
@media (hover: hover) {
  .post__link::before {
    transition: width .5s;
  }
  .post__link:hover::before {
    width: 100%;
  }
}