/* BLOG */
.blog__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 768px) {
  .blog__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .blog__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* POST */
.post__image {
  border-radius: 1rem;
}
.post__content {
  padding: 2rem;
}
.post__title {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  height: 7rem;
}
.post__meta {
  font-size: 1.6rem;
  color: var(--primary);
}
.post__extract {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.6rem;
}
/* SINGLE */
.post.single {
  max-width: 80rem;
  margin: 0 auto;
}
.post__content-text {
  white-space: pre-wrap;
}