
.store__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}
@media (min-width: 768px) {
  .store__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .store__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Guitar */
.guitar {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}
.guitar.single {
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .guitar.single {
    grid-template-columns: 2fr 3fr;
  }
}
.single .guitar__image {
  width: 20rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .single .guitar__image {
    width: 100%;
  }
}
.guitar__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-size: 1.6rem;
}
.guitar__price {
  color: var(--primary);
  font-size: 3.3rem;
  font-weight: 900;
  margin: 0;
}
